@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

#container{
	width: 100%;
	height:100%;
	display: inline-block;   

}
#map{
	position:absolute;
	left: 0px; top: 0px; 
	width: 75%; height: 100%; 
	float: left;
}
.list{
	padding: 1.5%;
	float: right;
	width: 25%;	
	height : 100%;

}

