
.box-map{
	float: left;
	width: 80%;
	height: 490px;
	
}
#tableList{
	
	float: right;
	width: 49%;
	height: 300px;
}

#name{
	font-size: 1.5em;
	text-align: center;
}

td{
	padding: 1px;
	font-size: 0.65em;
	table-layout: fixed;
	width: 300px;
	text-align: center;
}
th{	
	padding: 5px;
	font-size: 0.85em;
	text-align: center;
}

