@charset "UTF-8";

@import "reset.css";
@import "default.css";
@import "component.css";
@import "maplist.css";
@import "minPriceGas.css";
/*components*/
@import "components/form.css";

/*screens*/
@import "screens/join.css";

body{
	background: #fff;
	color: black;
	font-family: 'Noto Sans KR', sans-serif;
}

a{
	text-decoration: none;
}
.logo{
	width: 400px;
	margin-bottom: 40px;	
}

