@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "default.css";
@import "component.css";

/*screens*/
@import "screens/login.css";

body{
	background: #fff;
	color: black;
	font-family: 'Bebas Neue', 'NotoSansKR';
}