@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');
@import "reset.css";
@import "default.css";
@import "component.css";
@import "maplist.css";
/*components*/
@import "components/form.css";

/*screens*/
@import "screens/join.css";

body{
	background: #fff;
	color: black;
	font-family: 'Do Hyeon', sans-serif;
}

a{
	text-decoration: none;
}
.logo{
	width: 400px;
	margin-bottom: 40px;	
}

