@charset "UTF-8";
.join__img{
	padding: 30px 0;
	margin-top: 40px;
}

.inform{
	width: 80%;
	margin: 20px auto;
	text-align: center;
}
.inform h3{
	margin-bottom: 20px;
}
.nav span{
	margin: 20px;
	text-align: center;
	width: 125px;
	height: 30px;
	background: #ff9d47;
	border-radius: 25px;
	box-shadow: 0px 3px #FF771D;
}
